extends ./layout.jade
block content
    div(class="panel panel-default")
        div(class="panel-heading")=bunny.macAddress
        div(class="panel-body")
            form(onsubmit="return doTalk('" + bunny.macAddress+ "')")
                div.form-group
                    textarea#text
                button(type="submit", class="btn btn-primary") Envoyer
